@import url('https://fonts.googleapis.com/css?family=Montserrat:400,300|Orbitron:400,300|Source+Code+Pro:400,300');
/*
font-family: 'Orbitron', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}
.photo-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
  background-image: url('./pure-japan.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-position: center;*/
}
.name-container{
grid-area: 1 / 2 / 5 / 5;
}
.main-name{
  font-size: 3em;
  white-space: nowrap;
  color: #212121;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300;
  cursor: default;
  margin-bottom: 25px;
}
.typer{
  font-size: 3vw;
  color: #212121;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  cursor: default;

}
.nav{
  display: grid;
  grid-column: 1;
  height: 10vh;
  width: 100vw;
  background: #212121;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  position: fixed;




}
.nav-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*grid-template-rows: 60% 1fr;*/

}
.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7vh;
  text-transform: uppercase;
  color: #eee;
  font-family: 'Montserrat';
  font-weight: 300;
  border-right: 1px solid #eee;
  transition: all 0.3s;
  cursor: pointer;


}
.nav-item:hover{
  font-size: 2vh;
  color: royalblue;
  transition: all 0.3s;
}
.nav-item:nth-last-child(1){
  border:none;
}
.about-section{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.about-section h1{
  font-size: 5.5vw;
  color: #212121;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300;
  cursor: default;
  border-bottom: .3px solid #212121;
}
.like-container{
  width: 90vw;
  height: auto;
  display: flex;
  flex:1;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}

.item{
width: 250px;
/*height: 200px;*/
margin:10px;
padding: 5px;
font-family: 'Montserrat';
letter-spacing: 1px;
}
.item h3{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
}
.about-icons{
  font-size: 55px;
}
.about-lift{

  margin: auto;
  background-image: url('./workout-icon.png');
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
}
.skills-section{
  width: 100vw;
  background: black;
  color:white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.skills-section h1{
  font-size: 5.5vw;
  color:white;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300;
  cursor: default;
  border-bottom: .3px solid #212121;
}
.skills-container{
  display: flex;
  flex:1;
  width: 100vw;
  flex-wrap: wrap;
}
.skill-column{
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.skills-icons{
  font-size: 55px;
  color: white;
}
.skill-column div {
  cursor: default;
  border-top: solid white 1px;
  margin-top: 20px;
  /*text-align: left;*/
}
